{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    TC | Перегляд замовлення
{% endblock %}

{% block content %}
    <h1>Замовлення</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>Опис</th>
                <td>{{ order.description }}</td>
            </tr>
            <tr>
                <th>Статус</th>
                <td>
                    {% if order.status == "new" %}
                        Нове
                    {% elseif order.status == "pending" %}
                        Обробляеться
                    {% elseif order.status == "accepted" %}
                        Виконується
                    {% elseif order.status == "completed" %}
                        Виконане
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Адреса</th>
                <td>{{ order.address }}</td>
            </tr>
            <tr>
                <th>Дата виконання</th>
                <td>{% if order.date %}{{ order.date|date('d.m.Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Використання власних матеріалів</th>
                <td>{% if order.ownMaterials %}Так{% else %}Ні{% endif %}</td>
            </tr>
            <tr>
                <th>Створено</th>
                <td>{% if order.createdAt %}{{ order.createdAt|date('d.m.Y H:i:s') }}{% endif %}</td>
            </tr>

            {% if order.comment %}
                <tr>
                    <th>Відгук</th>
                    <td>{{ order.comment }}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="
    {% if is_granted('ROLE_ADMIN') %}
        {{ path('admin_index') }}
    {% elseif is_granted('ROLE_USER') %}
        {{ path('user_index') }}
    {% endif %}
    ">Повернутись до списку</a>
    <a class="btn btn-primary" href="{{ path('order_edit', { 'id': order.id }) }}">Редагувати</a>
    {{ form_start(delete_form) }}
        <input class="btn btn-primary" type="submit" value="Видалити">
    {{ form_end(delete_form) }}

{% endblock %}
