{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    TC | Замовлення, що підлягають розгляду
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>
                Замовлення, що підлягають розгляду
            </h1>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Опис</th>
                <th>Статус</th>
                <th>Адреса</th>
                <th>Дата</th>
                <th>Дії</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td><a href="{{ path('order_show', { 'id': order.id }) }}">{{ order.id }}</a></td>
                    <td>
                        {% if order.description|length > 20 %}
                            {{ order.description | slice(0, 20) ~ "..." }}
                        {% else %}
                            {{ order.description }}
                        {% endif %}
                    </td>
                    <td>
                        {% if order.status == "new" %}
                            Нове
                        {% elseif order.status == "pending" %}
                            Обробляеться
                        {% elseif order.status == "accepted" %}
                            Виконується
                        {% elseif order.status == "completed" %}
                            Виконане
                        {% endif %}
                    </td>
                    <td>{{ order.address }}</td>
                    <td>{% if order.date %}{{ order.date|date('d.m.Y') }}{% endif %}</td>
                    <td>
                        <a href="{{ path('order_review', { 'id': order.id }) }}"><i class="fa fa-reply-all" aria-hidden="true"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}