{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-md-6 text-center">
                    {{ form_start(form, {'attr': {'class': 'form-signin'}}) }}
                        <h1>Реєстрація</h1>
                        <div class="form_group">
                            <label>
                                Номер телефона
                            </label>
                            {{ form_widget(form.phone, {'attr': {'class': 'form-control', 'placeholder': '+38 (0XX) XXX XX XXX' }}) }}
                        </div>

                        <div class="form_group">
                            <label>
                                Електронна пошта
                            </label>
                            {{ form_widget(form.email, {'attr': {'class': 'form-control' }}) }}
                        </div>

                        <div class="form_group">
                            <label>
                                Пароль
                            </label>
                            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="form_group">
                            <label>
                                Повторіть пароль
                            </label>
                            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                        </div>


                        <a href="{{ path('homepage') }}" class="btn btn-success">
                            <i class="fa fa-btn fa-home"></i> На головну
                        </a>
                        <button type="submit" class="btn btn-success">Реєстрація</button>

                    {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock %}